Research_Assistant_Make.json
{
    "name": "Research_Assistant_",
    "flow": [
        {
            "id": 1,
            "module": "perplexity-ai:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3449971
            },
            "mapper": {
                "model": "llama-3.1-sonar-small-128k-online",
                "messages": [
                    {
                        "role": "user",
                        "content": "Explore the latest trends, innovations, and challenges within Finance and Financial Planning & Analysis (FP&A), with a specific focus on global practices and industry-specific applications. Examine how financial strategies and practices are evolving across various sectors, emphasizing the role of technology and data-driven decision-making.General Finance and FP&A Focus:Keywords to Monitor: office of finance, Excel, FP&A, planning, budget, PowerPoint, CoPilot, PowerBI, finance, forecasting, financial modeling, data analytics, artificial intelligence in finance, ESG reporting, digital transformation.Regions of Interest: Global, with emphasis on North America, ENMA, Asia/East Asia, Europe, all major financial centers and emerging markets. Time frame: Focus on developments within the last 6 months.Specific Areas of Focus:Assess the effectiveness and ROI of current FP&A practices across various industries and company sizes.Explore innovations in financial tools and platforms, particularly Excel, PowerBI, and AI-powered solutions like CoPilot.Identify challenges in creating cohesive financial planning and analysis strategies that align with overall business objectives.Highlight case studies of successful finance transformation projects, detailing strategies and outcomes.Access case studies with hyperlinks out for more information. Sector-Specific Insights:For each major industry sector (e.g., Technology, Healthcare, Manufacturing, Retail, Financial Services, Professional Sports, Construction, Real Estate, and Non-Profits,), analyze:How finance and FP&A trends are impacting these sectors/industries.Unique financial strategies and practices tailored to the sector's needs.Innovations and challenges specific to the sector's finance landscape.Successful case studies within each sector, emphasizing the role of modern FP&A practices.Access case studies with hyperlinks for more information. Additional Research Points:Emerging financial technologies and their impact on traditional FP&A rolesUse of Microsoft tools including Excel, Powerpoint, PowerBI, Outlook and CoPilot within FP&AIntegration of ESG considerations into financial planning and reportingImpact of recent global events (e.g., economic shifts, regulatory changes) on finance functionsEvolution of budgeting and forecasting methodologies (e.g., zero-based budgeting, rolling forecasts)Skills and competencies required for next-generation finance professionalsAccess case studies with hyperlinks out for more information. Objective:To provide a comprehensive overview of the current finance and FP&A landscape, offering insights into best practices, technological advancements, and industry-specific trends. This research aims to equip finance professionals with actionable information to enhance their strategic decision-making and operational efficiency.Output Format:Deliver a concise, well-structured response formatted in HTML that:Summarizes key findings for each research pointHighlights sector-specific insights and cross-industry trendsIdentifies emerging technologies and methodologies shaping the future of financeIncludes relevant statistics, data points, and expert opinionsAddresses potential challenges and opportunities for finance professionalsFormat the entire response in HTML, using appropriate tags for structure and formatting. <p>Do not explain the HTML formatting in your response. Simply provide the requested information formatted in HTML.</p> Use <h2> for main headers, <h3> for subheaders, <p> for paragraphs, <ul> and <li> for unordered lists, <ol> and <li> for ordered lists, <strong> for emphasis, and <table>, <tr>, <th>, and <td> for tables. Format the Sector-Specific Insights section using HTML. Use <h3> tags for each sector name, <ul> tags for unordered lists within each sector, and <li> tags for list items. Use <strong> tags to emphasize key points within each list item. The structure should look like this:<h3>Sector Name</h3> <ul> <li><strong>Unique Strategies:</strong> Description...</li> <li><strong>Innovations:</strong> Description...</li> <li><strong>Challenges:</strong> Description...</li> </ul> Repeat this structure for each sector. Ensure proper nesting and closing of all HTML tags.\"Do not use Markdown formatting. Wrap the entire response in a complete HTML structure, including <!DOCTYPE html>, <html>, <head>, and <body> tags. Do not explain the HTML formatting in your response. Simply provide the requested information formatted in HTML.Include a brief conclusion summarizing the most significant insights and their implications for finance and FP&A professionals across industries.If data is available, incorporate an HTML table comparing the adoption rates or effectiveness of key financial tools (e.g., Excel, PowerBI, AI-powered solutions) across different industries or company sizes.The tone should be informative and practical, catering to finance professionals seeking to stay ahead in their field. Emphasize actionable insights and forward-looking perspectives that can help readers adapt to the evolving finance landscape.At the end of your response, include a \"References\" section. In this section, list all the sources used in your research as hyperlinks. Include links to relevant case studies. Format this section in HTML, using the following structure:<h2>References</h2> <ul> <li><a href=\"https://example.com/article1\">Title of Article 1</a></li> <li><a href=\"https://example.com/article2\">Title of Article 2</a></li> </ul> Ensure that each link is unique and directly relevant to the information provided in the response. Do not include duplicate links or sources that were not specifically used in crafting the answer. Use proper HTML tags to create a clickable hyperlink for each reference, with the href attribute set to the source URL and the link text as the title or brief description of the source."
                    }
                ],
                "temperature": "1.0"
            },
            "metadata": {
                "designer": {
                    "x": -2242,
                    "y": -697
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "llama-3.1-sonar-small-128k-online"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "perplexity-ai"
                            },
                            "label": "My Perplexity connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:perplexity-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1.999,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top K",
                        "validate": {
                            "max": 2048,
                            "min": 0
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "min": 0
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -1806,
                    "y": -706
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 3450203,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "chrisbuccella@gmail.com",
                                    "sandravb1611@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "{{1.choices[].message.content}}",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "My Research Assistant",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -1294,
                                    "y": -982
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (chrisbuccella@gmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2094322
                            },
                            "mapper": {
                                "role": "user",
                                "message": "Turn this research into a short, engaging, and easy to read LinkedIn post that encourages professional development, education, and learning new things within the world of FP&A. It should encourage the audience to interact and engage with the post. Include relevant hasthags. Ensure that the message is less than 1500 characters. \n\n{{1.choices[].message.content}}",
                                "assistantId": "asst_eV91nt6RxmEeZyVDYaY0xMCD"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -1287,
                                    "y": -698
                                },
                                "restore": {
                                    "expect": {
                                        "role": {
                                            "label": "User"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "image_urls": {
                                            "mode": "chose"
                                        },
                                        "assistantId": {
                                            "mode": "chose",
                                            "label": "My Research Partner (gpt-4o-mini)",
                                            "nested": []
                                        },
                                        "image_files": {
                                            "mode": "chose"
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "multiple": true,
                                        "validate": {
                                            "maxItems": 20
                                        }
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    },
                                    {
                                        "name": "image_files",
                                        "type": "select",
                                        "label": "Image Files",
                                        "multiple": true
                                    },
                                    {
                                        "name": "image_urls",
                                        "spec": {
                                            "name": "value",
                                            "type": "url",
                                            "label": "Image URL",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Image URLs"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2451534
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{5.created_at}}",
                                    "1": "{{5.content[].text.value}}"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/0Bz9q0rgS76T4d21qT1p3ck9FSFk/1sm4-pfBIbimiobLfLEcG0_rH5UvdPD71/19OWb6_f58K5xO8hggHZxGajZp6XMfIkp/1XeDak35F7JxuV9LjBDQThAMGT7dJRII7BMdgbQQr-Yk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": -863,
                                    "y": -701
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "The Urban Tutor ",
                                                "Automations",
                                                "Research Assistant",
                                                "Research_Collection"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Date (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Message Content (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "(C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (chrisbuccella@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Date (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Message Content (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "(C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2094322
                            },
                            "mapper": {
                                "assistantId": "asst_Mm5aBYfEifruYvN9NDKGWVTT",
                                "role": "assistant",
                                "model": "gpt-4o",
                                "code_interpreter_resources": [
                                    "file-nTrMJF7T6rG2oSeFvV0AUXjU",
                                    "file-6Z6rRE4YSYNjQMJvG3FoWr5d",
                                    "file-ZqZ6zG97UurhVigaQC8s9LqM"
                                ],
                                "temperature": "1.0",
                                "message": "Turn this research into a short, engaging, and SEO based blog that is targeted at FP&A professionals includingprofessional development, education, and learning new things within the world of FP&A. \n\n{{1.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -1326,
                                    "y": -407
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My OpenAI connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "assistantId": {
                                            "mode": "chose",
                                            "nested": [],
                                            "label": "Blog Writer (gpt-4o-mini)"
                                        },
                                        "role": {
                                            "label": "Assistant"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o (system)"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose",
                                            "label": [
                                                "LinkedIn_Posts_Knowledgebase (1).pdf",
                                                "V1_Blog_Knowledge_Base.pdf",
                                                "LinkedIn_Posts_Knowledgebase.pdf"
                                            ]
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "validate": {
                                            "maxItems": 20
                                        },
                                        "multiple": true
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 9,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2451534
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "2": "{{7.content[].text.value}}"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/0Bz9q0rgS76T4d21qT1p3ck9FSFk/1sm4-pfBIbimiobLfLEcG0_rH5UvdPD71/19OWb6_f58K5xO8hggHZxGajZp6XMfIkp/1XeDak35F7JxuV9LjBDQThAMGT7dJRII7BMdgbQQr-Yk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": -867,
                                    "y": -418
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "The Urban Tutor ",
                                                "Automations",
                                                "Research Assistant",
                                                "Research_Collection"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Date (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Message Content (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Blog Article (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (chrisbuccella@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Date (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Message Content (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Blog Article (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}